<div class="row">
    <div class="col">
      <div class="card mb-1">
        <div class="card-body">
          <form [formGroup]="miFormulario" (ngSubmit)="guardar()">
            
            <div class="mb-3 row">
              <label for="nombre_empresa" class="col-sm-2 col-form-label">Nombre de la Empresa</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="nombre_empresa" formControlName="nombre_empresa" required>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="referencia" class="col-sm-2 col-form-label">Referencias</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="referencia" formControlName="referencia" required>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="imagen" class="col-sm-2 col-form-label">Imagen</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="imagen" formControlName="imagen" required>
              </div>
            </div>
            <div class="mb-3 row">
                <label for="puesto" class="col-sm-2 col-form-label">Puesto</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="puesto" formControlName="puesto" required>
                </div>
              </div>
            <div class="row">
                <div class="col">
                  <button type="submit" class="btn btn-primary float-end">Guardar</button>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>