<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="col-2">
                <a class="navbar-brand" href="#">
                    <img src="assets/img/arg1.png" width="50px" alt="Logo Argentina Programa" class="img-fluid">
                </a>
            </div>


            <div class="col-10 d-flex justify-content-end">
                <div class="btn-group me-2" role="group">
                    <button type="button" class="btn btn-outline-primary"
                            (click)="goToGithub">
                       
                            <i class="fa-brands fa-github fa-lg"></i>
                       
                    </button>
                    <button type="button" class="btn
                            btn-outline-primary">
                        <a href="https://www.linkedin.com/in/ramiro-charry-b1b209221/" target="_blank">
                            <i class="fa-brands fa-linkedin fa-lg"></i>
                        </a>
                    </button>
                    <button type="button" class="btn
                            btn-outline-primary">
                        <a href="https://instagram.com/ramiro.charry" target="_blank">
                            <i class="fa-brands fa-instagram fa-lg"></i>
                        </a>
                    </button>
                </div>
                <button  *ngIf="!isLogin"
                          type="button" class="btn btn-primary me-2 d-none
                          d-md-block" data-bs-toggle="modal" data-bs-target="#loginModal"
                        >
                    Login
                </button>
                <button *ngIf="!isLogin"
                        type="button" class="btn btn-primary me-2 d-none
                        d-md-block" data-bs-toggle="modal" data-bs-target="#registroModal">
                    Registrarse
                </button>
                <button  *ngIf="isLogin" (click)="logOut()"
                          type="button" class="btn btn-warning me-2 d-none
                          d-md-block"
                        >
                    Cerrar Sesión
                </button>
                <button class="navbar-toggler d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse text-center" id="navbarNav">
                <ul class="navbar-nav d-md-none">
                   
                    <li *ngIf="isLogin"  class="nav-item d-md-none pb-1 mt-3">
                        <button type="button" class="btn btn-primary
                                me-2 w-25" data-bs-toggle="modal" data-bs-target="#loginModal">
                            Login
                        </button>
                    </li>
                    <li *ngIf="isLogin" class="nav-item d-md-none">
                        <button type="button" class="btn btn-primary
                                me-2 w-25" data-bs-toggle="modal" data-bs-target="#registroModal">
                            Registrarse
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<app-modal></app-modal>
<app-modal1></app-modal1>
