
        <div class="w-100">

            <ul class="list-group">
                <li routerLink="sobremi" 
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}"
                    class="list-group-item"
                    >Sobre Mí</li>
                <li routerLink="cursos"
                    routerLinkActive="active"
                    class="list-group-item"
                    >Cursos
                </li>
                
                <li routerLink="experiencia"
                    routerLinkActive="active"
                    class="list-group-item"
                    >Experiencia
                </li>
                <li routerLink="educacion"
                    routerLinkActive="active"
                    class="list-group-item"
                    >Educacion
                </li>
                <li routerLink="contacto"
                    routerLinkActive="active"
                    class="list-group-item"
                    >Contacto
                </li>
            </ul>
        </div>

            
    
