

    <h2>Sobre mí</h2>
    <hr>
  



<div class="container text-center container-presentacion">
    <div class="row">
        <div class="col-12 col-md-3 col-lg-3 container-img p-2">
            <img style="max-height: 200px;" src="assets/img/perfil.png"
                class="mx-auto img-perfil1 rounded-circle img-fluid" alt="foto de perfil">
        </div>
        <div class="col-12 col-md-9 col-lg-8 d-flex
                align-items-center p-2">
            <p class="text-presentacion">
                Mi nombre es Ramiro Charry, soy Desarrollador Web
                Full Stack. Nací y crecí en la Ciudad de
                Córdoba,
                Argentina
                Desde pequeño, mi hobbie siempre fueron las
                computadoras, me pasaba horas en la PC, allí nacio
                mi curiosidad,
                siempre fue sencillo
                para mi manejar agilmente el ordenador.
                Tengo 27 años, llevo desde mayo del 2021 aprendiendo
                en
                el mundo de la programación y es algo que considero
                apasionante
                y dinámico con un amplio mercado laboral.

            </p>
        </div>
    </div>
</div>